---
http_interactions:
- request:
    method: get
    uri: http://api.seatgeek.com/2/events?performers.slug=justin-bieber
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace:
      - ''
      Etag:
      - '"ece04acf4c91a36c212baf60fa4a9bff8e5fd6a7"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":23,"geolocation":null,"took":6,"page":1},"events":[{"links":[],"id":1640198,"stats":{"listing_count":null,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Justin
        Bieber","score":0.74267,"date_tbd":false,"type":"concert","datetime_local":"2013-10-24T19:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"name":"Justin
        Bieber","short_name":"Justin Bieber","url":"http://seatgeek.com/justin-bieber-tickets","type":"band","image":"http://cdn.chairnerd.com/images/performers/2446/justin-bieber-d04795/huge.jpg","primary":true,"slug":"justin-bieber","score":0.75395,"images":{"huge":"http://cdn.chairnerd.com/images/performers/2446/justin-bieber-d04795/huge.jpg","medium":"http://cdn.chairnerd.com/images/performers/2446/justin-bieber-ac2662/medium.jpg","large":"http://cdn.chairnerd.com/images/performers/2446/justin-bieber-23ce49/large.jpg","small":"http://cdn.chairnerd.com/images/performers/2446/justin-bieber-b367d8/small.jpg"},"id":2446}],"url":"http://seatgeek.com/justin-bieber-tickets/panama-city-figali-2013-10-24-7-pm/concert/1640198/","venue":{"city":"Panama
        City","name":"Figali","extended_address":"Panama City, Panama","url":"http://seatgeek.com/venues/figali/tickets/","country":"Panama","display_location":"Panama
        City, Panama","links":[],"slug":"figali","state":"8","score":0,"postal_code":"","location":{"lat":8.99427,"lon":-79.5188},"address":"Fort
        Amador","id":29803},"short_title":"Justin Bieber","datetime_utc":"2013-10-25T00:00:00","datetime_tbd":false},{"links":[],"id":1640179,"stats":{"listing_count":null,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Justin
        Bieber","score":0.74267,"date_tbd":false,"type":"concert","datetime_local":"2013-10-26T19:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"name":"Justin
        Bieber","short_name":"Justin Bieber","url":"http://seatgeek.com/justin-bieber-tickets","type":"band","image":"http://cdn.chairnerd.com/[...]
